.navbar {
  position: fixed;
  z-index: 5;
  width: 100%;
  padding: 25px 0;
  transition: all 0.3s ease;

  .content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    padding: 0px 30px;
  }

  &.sticky {
    padding: 10px 0;
    background: $black-600;
    box-shadow: 0px 3px 5px 0px $black-100;
  }

  .logo a {
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
  }

  .menu-list {
    display: inline-flex;
    margin: 0;

    li {
      list-style: none;
    }

    li a {
      color: $main-white;
      font-size: 18px;
      font-weight: 500;
      margin-left: 25px;
      text-decoration: none;
      transition: all 0.3s ease;

      &:hover {
        color: $primary-logo-color;
      }
    }
  }

  img {
    width: 90px;
  }
}

.icon {
  display: none;
  color: $main-white;
  font-size: 20px;
  cursor: pointer;

  &.cancel-btn {
    position: absolute;
    right: 30px;
    top: 20px;
  }
}

.navbar.sticky .icon.cancel-btn {
  top: 10px;
}

/* Mobile Screen */
@media (max-width: 868px) {
  body.disabledScroll {
    overflow: hidden;
  }

  .navbar {
    .content {
      align-items: unset;
      justify-content: space-between;
    }

    .menu-list {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      background: $black-600;
      display: block;
      padding: 40px 0;
      text-align: center;
      clip-path: circle(25px at calc(100% - 55px) calc(0% + 50px));
      transition: all 0.3s ease;
    }

    &.sticky .menu-list {
      clip-path: circle(25px at calc(100% - 55px) calc(0% + 35px));

      li {
        margin-top: 45px;
      }

      li a {
        font-size: 23px;
      }

      &.active {
        clip-path: circle(75%);
      }
    }
  }

  .icon {
    display: block;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    z-index: 9;

    &.cancel-btn {
      display: none;

      &.show {
        display: block;
      }
    }

    &.hide {
      display: none;
    }
  }
}
