// Logo colors
$primary-logo-color: #1bb5f2 !default;
$secondary-logo-color: #1bddf2 !default;
$third-logo-color: #1bf2dd !default;
$fourth-logo-color: #16f2a1 !default;
$fifth-logo-color: #27f245 !default;

// Global colors
$main-white: #ffffff !default;
$secondary-white: #f8f9fa !default;
$third-white: #f1f1f1 !default;
$fourth-white: #f5f5f5 !default;
$fifth-white: #e8e1e1 !default;

$main-gray: grey !default;
$gray-800: rgb(73, 71, 71) !default;
$gray-600: #6c757d !default;
$gray-500: #888 !default;

$main-black: black !default;
$black-900: rgba(black, 0.9) !default;
$black-800: rgba(black, 0.8) !default;
$black-600: rgba(0, 0, 0, 0.6) !default;
$black-300: rgba(0, 0, 0, 0.3) !default;
$black-200: rgba(0, 0, 0, 0.2) !default;
$black-120: rgba(0, 0, 0, 0.12) !default;
$black-100: rgba(0, 0, 0, 0.1) !default;
$secondary-black: #2f2e41 !default;

$main-blue: blue !default;
$blue-700: #007bff !default;
$blue-300: rgb(0, 123, 255, 0.3) !default;

$main-red: red !default;
$second-red: #f3415c !default;
