{% extends "base.twig" %}
{% block content %}
	<div class="d-flex justify-content-center">
		<p class="custom-class">
			Le bouton "dislike" de Youtube
			==============================
			// Source :
			- https://www.numerama.com/pop-culture/754424-youtube-supprime-le-compteur-de-je-naime-pas-des-videos.html *
			- https://www.blogdumoderateur.com/youtube-supprime-compteur-dislikes/
			- https://www.youtube.com/watch?v=qqZhRj24ZWk
			
			- https://www.numerama.com/tech/700763-youtube-efface-le-compteur-de-dislikes-dans-un-test-pour-le-moral-des-videastes.html
			- https://www.influenth.com/youtube-decide-de-modifier-son-bouton-dislike/
			- https://www.journaldugeek.com/2021/11/18/youtube-la-suppression-des-dislikes-pourrait-tuer-le-reseau-social/
			- https://www.frandroid.com/culture-tech/web/1121921_youtube-cache-les-dislikes-mais-ce-nest-pas-a-cause-du-youtub-rewind-promis
			- https://www.tomsguide.fr/youtube-supprime-le-compteur-des-dislikes-pour-lutter-contre-le-harcelement/
			- https://hitek.fr/actualite/youtube-cherche-solutions-lutte-contre-campagnes-massives-dislikes-suppression-du-bouton_18523
			
			Pourquoi le salaire des devs est si élevé si tout le monde peut apprendre à code gratuitement ?
			===============================================================================================

		</p>
	</div>
{% endblock %}
