{% include 'html-header.twig' %}
<body>
	{% include './partial/header.twig' %}
	<div id="nav-background"></div>
	{% block content %}{% endblock %}

	{% include './partial/footer.twig' %}
	{{ function('wp_footer') }}
</body></html>
